In [32]:
import numpy as np
import pandas as pd

In [ ]:
# Reference "https://github.com/codebasics/py/blob/master/ML/2_linear_reg_multivariate/2_linear_regression_multivariate.ipynb"

In [33]:
df = pd.read_csv("my_data.csv")

In [34]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [35]:
df.bedrooms.median()

4.0

In [36]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())

In [37]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
lr = LinearRegression()

In [40]:
# y = mx +c

In [41]:
df2 = df[['area','bedrooms','age']]

In [42]:
df2

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [43]:
df.columns

Index(['area', 'bedrooms', 'age', 'price'], dtype='object')

In [44]:
lr.fit(df2,df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
# y = m1 *'area' + m2*'bedrooms'+m3*'age' + c

In [46]:
#y = mx +c

In [47]:
lr.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [48]:
lr.intercept_

221323.00186540396

In [49]:
[[2600,3.0,20]]

[[2600, 3.0, 20]]

In [50]:
112.06244194*5500 + 23388.88007794 * 2+ -3231.71790863*31 + 221323.00186540396

784260.937523754

In [51]:
lr.predict([[2600,3.0,20]])

array([518217.63297611])

In [52]:
lr.score(df2,df.price)

0.9550196399325821

In [54]:
import pickle

In [56]:
filename = 'finalized_model_2_layer_cm.sav'
pickle.dump(lr, open(filename, 'wb'))

In [82]:
l1 = ["1","2","3"]

In [83]:
l2 = l1

In [84]:
id(l1)

140272519735944

In [85]:
id(l2)

140272519735944

In [86]:
l2[2] = "4"

In [87]:
l2

['1', '2', '4']

In [88]:
id(l2)

140272519735944

In [89]:
id(l1)

140272519735944

In [90]:
l1

['1', '2', '4']